<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/nav.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        
        <header>
            <div class="navbar">
                <nav>
                    <ul>
                        {% block headeraccess %}
                        {% endblock headeraccess %}
                    </ul>
                </nav>
            </div>
        </header>
        {% if title %}
            <title> {{title}} </title>
        {% else %}
            <title> Flask Restaurant - Welcome </title>
        {% endif %}
        {% block content %}
        {% endblock %} 
    </body>
    {% block footer %}
    {% endblock footer %}
</html>