body {
    align-content: center;
    text-align: center;
}

body h2 {
    text-align: center;
    font-size: large;
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

body h2:after {
    content: '';
    background: coral;
    width: 100%;
    height: 2px;
    display: block;
}